body {
    background: url('https://images.unsplash.com/photo-1519892300165-cb5542fb4747?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') bottom center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keys {
    display: flex;
    flex-wrap: wrap; /* Mobilde taşarsa aşağı insin */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.key {
    border: 4px solid black;
    border-radius: 10px;
    margin: 5px;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s ease; /* Animasyon hızı */
    width: 100px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4); /* Yarı saydam siyah */
    text-shadow: 0 0 5px black;
    cursor: pointer; /* Tıklanabilir olduğunu göster */
}

/* Çalınıyor efekti (Bonus Görev) */
.playing {
    transform: scale(1.1); /* Biraz büyüt */
    border-color: #ffc600; /* Sarı kenarlık */
    box-shadow: 0 0 10px #ffc600; /* Sarı parlama */
}

kbd {
    display: block;
    font-size: 40px;
}

.sound {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}